<footer class="bg-white border-t border-gray-400 shadow">
  <div class="container max-w-4xl mx-auto flex py-8">
    <div class="w-full mx-auto flex flex-wrap">
      <div class="flex w-full md:w-1/2">
        <div class="px-8">
          <h3 class="font-bold text-gray-900">About</h3>
          <p class="py-4 text-gray-600 text-sm">
            Fabiano is Tech Lead on
            <a href="https://acheplus.com.br" target="_blank"
              >Acheplus Tecnologia</a
            >, Developer Python and Javascript and a lover of technologies and
            exploration advance technics of programation.
          </p>
        </div>
      </div>

      <div class="flex w-full md:w-1/2">
        <div class="px-8">
          <h3 class="font-bold text-gray-900">Social</h3>
          <ul class="list-reset items-center text-sm pt-3">
            <li>
              <a
                class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                href="{{site.github.owner_url}}"
                target="_blank"
                >Github: @{{site.github.owner_name}}</a
              >
            </li>
            <li>
              <a
                class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                href="https://www.instagram.com/{{site.instagram_username}}"
                target="_blank"
                >Instagram: {{site.instagram_username}}</a
              >
            </li>
            <li>
              <a
                class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                href="mailto:{{site.email}}"
                target="_blank"
                >E-mail: {{site.email}}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
