<!-- <nav> -->
	<ul class="list-reset lg:flex justify-end flex-1 items-center">
		{% for item in site.data.navigation %}
			<!-- <a href="{{ item.link }}" {% if page.url == "{{ item.link }}" %}style="color: red;"{% endif %}>{{ item.name }}</a> -->

				<li class="mr-3">
				<a
					href="{{ item.link }}"
					{% if page.url == item.link %}
						class="inline-block py-2 px-4 text-gray-900 font-bold no-underline"
					{% else %}
						class="text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"
					{% endif %}
					>{{ item.name }}</a
				>
				</li>
				<!-- <li class="mr-3">
				<a
					class=" text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"
					href="/about"
					>About</a
				>
				</li> -->
		{% endfor %}
	</ul>
<!-- </nav> -->
