<!DOCTYPE html>
<html lang="en">

{%  include head.html %}

<body class="bg-gray-100 font-sans leading-normal tracking-normal">

	{% include header.html %}

	<!--Container-->
	<div class="container w-full md:max-w-3xl mx-auto pt-20">

		{{content}}

		<!--Divider-->
		<hr class="border-b-2 border-gray-400 mb-8 mx-4">

		{% include subscribe.html %}

		{% include author.html %}

		<!--Divider-->
		<hr class="border-b-2 border-gray-400 mb-8 mx-4">


	</div>
	<!--/container-->

	{% include footer.html %}


</body>

</html>
